*{
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
/*Colors web Movies and series*/
:root{
    --red:#dc3545;
    --gray:#b4b7ba;

}

*,*::after,*::before{
    box-sizing: inherit;
}
/*Start Header*/
/*Styles Header*/
.header{
    position: fixed;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
/*Styles logo header*/
.header .logo img{
    margin-top: 1rem;
    margin-left: 1rem;
    width: 8rem;
}
/*Styles list Home, Genre, Country, Movies, TV-series, Top IMDb*/


.header > ul{
    margin-top: 1rem;
    margin-left: -5rem;
    list-style: none;
    display: flex;
}

.header .sections-home > li > a{
    font-size: .95rem;
    padding-left: 2.4rem;
    color:var(--gray);
}

.header .sections-home > li > a:hover{
    color: var(--red);
}
/*Styles Genre Sub menu*/
.sub-menu-genre {
    width: 30rem;
    height: 19rem;
    display: flex;
    list-style: none;
    position: absolute;
    background-color: #404757;
    color: #b4b7ba;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-top: .2rem;
    visibility: hidden;
    flex-direction: column;
    flex-wrap: wrap;
    

}
.sub-menu-genre li{
    padding: .4rem;
}
.sub-menu-genre li a{
    font-size: .9rem;
    color: #b4b7ba;
    padding: 1rem;
    gap: 1rem;
    text-transform:capitalize;
    
}
/*Styles Show sub-menu-genre*/
.sections-home li:hover .sub-menu-genre{
    visibility: visible;
    box-shadow: .1rem .1rem .5rem .1rem rgba(0, 0, 0, 0.841);
}
.sub-menu-genre li:hover{
    background-color: #353b48;
    border-radius: .3rem;

}

.sub-menu-genre li a:hover{
    color: #dc3545;
}



/*Styles header search bar*/
.search-bar{
    position: relative;
    right: 10rem;
    top: .5rem;
    z-index: 10;
}
.search-bar input{
    background-color:#b4b7ba36;
    color: black;
    opacity: 0.9;
    width: 20rem;
    height: 2.8rem;
    border: none;
    border-radius: 2rem;
    outline-style: none;
    text-align: center;
    
}
.search-bar input::placeholder{
    color:var(--gray);
    
    
}
/*Style imput after hover*/
.search-bar input:hover{
    background-color:white;
}
/*Styles header search icon*/
.search-icon{
position: relative;
top: .5rem;
right: 2rem;
color: #b4b7ba;
z-index: 20;
}

/*Styles Login/User*/
.user{
   display: flex;
   padding: .8rem;
   margin-right: 1rem;
   margin-top: 1rem;
   cursor: pointer;
   
}
.user i{
    padding-right: .5rem;
    color: var(--gray);
}

.user p{
    color: var(--gray);
    
}

.user:hover{
transform:scale(0.99) ;
background-color: #404757;
box-shadow: .1rem .1rem .5rem .1rem black;
border-radius: .3rem;
}

/*Finish Header*/


/*Start Home*/
/* Slider-Backgrounds movies*/
::-webkit-scrollbar {
    display: none;
} 
.slider-movies{
    width: 100%;
    animation: slide 35s infinite alternate ease-in-out;
   
}
.slider-movies ul{
    display: flex;
    padding: 0;
    width: 700%;
    
}
.slider-movies li{
    list-style: none;
    width: 100%;
}
.slider-movies img{
    position: relative;
    top: -4.2rem;
    z-index: -10;
    width: 100%;
    filter: brightness(0.8);
}

@keyframes slide {
    0%  {margin-left: 0%;}
    10% {margin-left: 0%;}

    15%  {margin-left: -100%;}
    25% {margin-left: -100%;}

    30%  {margin-left: -200%;}
    40% {margin-left: -200%;}

    45%  {margin-left: -300%;}
    55% {margin-left: -300%;}

    60%  {margin-left: -400%;}
    70% {margin-left: -400%;}

    75%  {margin-left: -500%;}
    85% {margin-left: -500%;}

    90%  {margin-left: -600%;}
    100% {margin-left: -600%;}
}

